/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,600|Prompt:400,500&display=swap');

/* Root */
:root {
  --primaryWhite: #fcfeff;
  --primaryBlack: #35363a;
  --PrimaryYellow: #f7d433;
  --primaryShaddow: 0px 0px 10px 0px rgba(51, 51, 51, 0.8);
  --primaryLetterSpacing: 3px;
}

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primaryWhite);
  font-family: 'Prompt', sans-serif;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.frame:before {
  background-color: var(--PrimaryYellow);
  position: absolute;
  content: '';
  width: 40%;
  height: 4px;
  top: 0;
  left: 0;
}

.frame:after {
  background-color: var(--PrimaryYellow);
  position: absolute;
  content: '';
  width: 40%;
  height: 4px;
  bottom: 0;
  right: 0;
  transform: translateX(0);
}

/* Header */
.header {
  background-color: var(--primaryWhite);
  border-bottom: 3px solid var(--PrimaryYellow);
  box-shadow: var(--primaryShaddow);
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  z-index: 99;
}

.logo {
  transition: 0.2s;
  padding: 0;
  width: 300px;
  padding: 7px 0;
}

.header .container {
  display: flex;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Header nav */

header nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

header nav ul a {
  padding: 5px 10px;
  text-decoration: none;
  font-family: 'Prompt', sans-serif;
  color: #333;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  border-bottom: 2px solid var(--primaryWhite);
  margin: 0 5px;
}

header nav ul a:hover {
  border-bottom: 2px solid var(--primaryBlack);
  transform: translateY(-10px);
}

/* Showcase */
.behind-nav {
  width: 100%;
  height: 158.98px;
}

.showcase {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/showcase.jpg) center/cover no-repeat;
  width: 100%;
  height: calc(100vh - 158.98px);
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-family: inherit;
}
.showcase h1 {
  padding-top: 10%;
}

/* IZDELKI */
.izdelki {
  width: 100%;
  border-top: 3px solid var(--PrimaryYellow);
  padding: 120px 1.5rem 2rem;
  min-height: 100vh;
}

.izdelki-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 300px));
  grid-gap: 3rem 2rem;
  justify-content: center;
}

.izdelki h2 {
  display: inline-block;
  font-size: 3rem;
  font-family: 'Prompt', sans-serif;
  text-transform: capitalize;
  letter-spacing: var(--primaryLetterSpacing);
  margin-bottom: 90px;
  color: #333;
  padding: 0.5rem 3rem;
  position: relative;
}

.izdelek {
  display: flex;
  flex-direction: column;
  box-shadow: var(--primaryShaddow);
  border-radius: 5px;
  min-width: 250px;
  overflow: hidden;
}

.izdelek img {
  overflow: hidden;
  height: 300px;
  object-fit: cover;
  object-position: center;
  display: block;
  width: 100%;
}

.izdelek-text {
  color: #333;
  padding: 10px;
}

.izdelek-text h3 {
  color: var(--primaryBlack);
  font-size: 1.5rem;
  text-transform: capitalize;
}

.izdelek-text p {
  padding: 0.5rem 0 1.5rem;
  color: #777;
}

.btn {
  text-transform: uppercase;
  border: none;
  background-color: var(--PrimaryYellow);
  font-family: 'Prompt', sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
}

.galerija {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primaryBlack);
}
